h1{
    text-align: center;
    margin-top: 20px;
}
.ball{
    width: 100px;
    height: 100px;
    background-color: rgb(131, 33, 33);
    border-radius: 50%;
    margin-top: 20px;
    animation: bounce 5s ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1800px);
    }
}